buildscript {
    repositories {
        jcenter()
        mavenCentral()
    }

    dependencies {
        classpath 'com.android.tools.build:$(GradlePlugin)'
    }
}

allprojects {
    repositories {
        jcenter()
        mavenCentral()
    }
}
